[submodule "rwkv.cpp"]
	path = rwkv.cpp
	url = https://github.com/saharNooby/rwkv.cpp.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
